body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #dee7ec;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 20px 0 0 0;
  text-align: center;
}

.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  width: 725px;
  padding: 30px;
}

.cloud {
  max-width: 60px;
  position: relative;
  top: 30px;
  left: 30px;
}

.header {
  color: #005f8c;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  position: relative;
  bottom: 30px;
  left: 110px;
}

.search-form-input {
  background: #dee7ec;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin: 20px 10px 20px 20px;
  padding: 15px 20px;
  width: 545px;
}

.search-form-button {
  background: #8956e2;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 15px 40px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.weather-app-city {
  margin: 0;
  font-size: 52px;
  line-height: 58px;
  position: relative;
  top: 10px;
  left: 30px;
}

.weather-app-time {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  bottom: 65px;
  left: 535px;
}

.change-parameters {
  font-size: 15px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 26px;
  position: relative;
  bottom: 185px;
  left: 535px;
}

.weather-app-details strong {
  color: #18dd95;
}

.weather-app-temperature-container {
  display: flex;
  position: relative;
  bottom: 70px;
  left: 20px;
}

.weather-app-icon {
  width: 95px;
  height: 88px;
}
.weather-app-temperature-value {
  font-size: 75px;
  line-height: 88px;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  left: -10px;
}

.weather-app-unit {
  margin-top: 20px;
  font-size: 28px;
  position: relative;
  bottom: 8px;
  left: -8px;
}

.weekly-forecast {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 30px;
}

.weather-forecast-week-day {
  background: #faefec;
  border-radius: 6px;
  padding: 30px;
  margin: 0 2px;
}
.weather-forecast-week-day:hover {
  border: 2px solid #005f8c;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 20px;
  transform: scale(1.4);
  transition: all 700ms ease-in-out;
}

.weather-forecast-date {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  color: #18dd95;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-temperature-one {
  font-size: 18px;
  margin: 0 10px;
}

.weather-forecast-temperature-two {
  margin: 0 10px;
}

.coder {
  color: blueviolet;
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
